## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("weather_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,78.71,72,38,16.31,scattered clouds
1,1,Tvoroyri,FO,61.5556,-6.8111,40.39,88,100,17.52,overcast clouds
2,2,East London,ZA,-33.0153,27.9116,78.73,84,0,16.06,clear sky
3,3,Geraldton,AU,-28.7667,114.6000,70.21,78,5,10.36,clear sky
4,4,Albany,US,42.6001,-73.9662,52.09,44,99,1.99,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired min temp for your trip? "))
max_temp = float(input("What is your desired max temp for your trip? "))

What is your desired min temp for your trip? 20
What is your desired max temp for your trip? 100

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,78.71,72,38,16.31,scattered clouds
1,1,Tvoroyri,FO,61.5556,-6.8111,40.39,88,100,17.52,overcast clouds
2,2,East London,ZA,-33.0153,27.9116,78.73,84,0,16.06,clear sky
3,3,Geraldton,AU,-28.7667,114.6000,70.21,78,5,10.36,clear sky
4,4,Albany,US,42.6001,-73.9662,52.09,44,99,1.99,overcast clouds
6,6,Hilo,US,19.7297,-155.0900,68.11,82,20,5.99,few clouds
7,7,Saint-Philippe,RE,-21.3585,55.7679,78.39,79,16,6.82,few clouds
8,8,Roma,US,43.2128,-75.4557,41.38,64,100,17.00,overcast clouds
9,9,Zhanaozen,KZ,43.3000,52.8000,39.61,82,86,7.99,overcast clouds
11,11,Hamilton,US,39.1834,-84.5333,32.40,80,100,11.50,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

Unnamed: 0             0
City                   0
Country                8
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,78.71,72,38,16.31,scattered clouds
1,1,Tvoroyri,FO,61.5556,-6.8111,40.39,88,100,17.52,overcast clouds
2,2,East London,ZA,-33.0153,27.9116,78.73,84,0,16.06,clear sky
3,3,Geraldton,AU,-28.7667,114.6000,70.21,78,5,10.36,clear sky
4,4,Albany,US,42.6001,-73.9662,52.09,44,99,1.99,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
671,671,Lengshuijiang,CN,27.6881,111.4294,39.49,94,97,2.06,overcast clouds
673,673,Rocha,UY,-34.4833,-54.3333,67.60,95,100,11.36,overcast clouds
675,675,Lakatoro,VU,-16.0999,167.4164,79.47,84,100,1.50,overcast clouds
676,676,Mount Pleasant,US,32.7941,-79.8626,69.98,49,0,5.75,clear sky
679,679,Russell,US,32.3502,-85.1999,68.38,63,0,4.61,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,78.71,scattered clouds,-23.1203,-134.9692,
1,Tvoroyri,FO,40.39,overcast clouds,61.5556,-6.8111,
2,East London,ZA,78.73,clear sky,-33.0153,27.9116,
3,Geraldton,AU,70.21,clear sky,-28.7667,114.6000,
4,Albany,US,52.09,overcast clouds,42.6001,-73.9662,
6,Hilo,US,68.11,few clouds,19.7297,-155.0900,
7,Saint-Philippe,RE,78.39,few clouds,-21.3585,55.7679,
8,Roma,US,41.38,overcast clouds,43.2128,-75.4557,
9,Zhanaozen,KZ,39.61,overcast clouds,43.3000,52.8000,
11,Hamilton,US,32.40,overcast clouds,39.1834,-84.5333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,78.71,scattered clouds,-23.1203,-134.9692,People ThankYou
1,Tvoroyri,FO,40.39,overcast clouds,61.5556,-6.8111,Hilmarsstova a Hobbit Hole
2,East London,ZA,78.73,clear sky,-33.0153,27.9116,Tu Casa
3,Geraldton,AU,70.21,clear sky,-28.7667,114.6000,Broadwater Mariner Resort
6,Hilo,US,68.11,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))